html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/******************* NAV BAR ********************/

nav, nav * {
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    text-decoration: none;
}

li {
    margin: 10px;

}
/* nav h1 {
    margin-left: 20px;
} */

nav {
    margin-left: 20px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}
.log-in {
    color: #4D80AB;

}


/******************** BODY OF THE APP ********************/

.app-body {
    /* display: flex; */
    display: grid;
    grid-template-columns: 4fr 2fr;

}

.app-body-main {
    border: 2px solid pink;

}
.recommendations {
    padding: 10px;
}
.recommendations-profile {
    border: 2px solid pink;
    display: flex;
    padding: 5px;
}
.recommendations-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* margin: auto; adds margins to the left and right */
    align-self: center;
}

.recommendations-profile h1 {
    padding: 5px;
}

.recommendations-body-suggestions h3 {
    color: #999999;

}

.recommendations-suggestions-user {
    display: flex;
}

.recommendations-suggestions-user img {
    width: 30px;
    height: 30px;
    align-self: center;

}

.recommendations-suggestions-user h4, .recommendations-suggestions-user p {
    margin: 0;

}