html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/******************* NAV BAR ********************/

nav, nav * {
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    text-decoration: none;
}

li {
    margin: 10px;

}
nav h1 {
    margin-left: 20px;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}
.log-in {
    color: #4D80AB;

}


/******************** BODY OF THE APP ********************/

.app-body {
    display: flex;
    background-color: #F2F2F2;
    flex-direction: wrap;
    padding-top: 6%;
}

.app-body-main {
    border: 2px solid pink;
    /*position: absolute;
    bottom: 50px;*/
}
.recommendations {
    padding: 10px;
    /* background-color: #F2F2F2; */
}

.recommendations-profile {
    border: 2px solid pink;
    display: flex;
    padding: 5px;
}
.recommendations-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* margin: auto; adds margins to the left and right */
    align-self: center;
}

.recommendations-profile h1 {
    padding: 5px;
}

.recommendations-body-suggestions h3 {
    color: #999999;

}

.recommendations-suggestions-user {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.recommendations-suggestions-user img {
    width: 40px;
    height: 40px;
    align-self: center;
    border-radius: 50%;

}

.recommendations-suggestions-user h4, .recommendations-suggestions-user p {
    margin: 0;
}


.suggested-user-div p {
    color: #999999;
    font-size: 15px;
}

.suggested-user-follow {
    color: #2C699B;

}

.recommendations-div {
    justify-content: left;
    border: 2px solid blue;
    /* width: 70%; */
    width: 300px;
}

/* Stories + Card div */

.app-body-main{
    margin: auto;
}

.stories-div {
    display: flex;
    background-color: white
}



.stories-div img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* margin: auto; adds margins to the left and right */
    align-self: center;
}

.stories-div p {
    font-size: 12px;
    color: #999999;
    ;
}

.story-div {
    padding: 10px;
    /* justify-content: left; */
}
.story-div p {
    margin: auto;
    text-align: center;
}





/* CARD */
.card {
    width: 600px;
    /*overflow-x: hidden;
    overflow-y: auto;*/
    background-color: white;
    margin: 4% 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0px 10px;
}

.card-header i{
    align-self: center;
}


.card-reactions {
    display: flex;
    justify-content: space-between;
    
    
}

.card-caption, .card-comment {
    display: flex;
    
}
.card-caption p, .card-comment p {
    align-self: center;
    padding-left: 8px;
}


.card-comment-posting {
    display: flex;
    align-items: center;
    display: flex;
    grid-template-columns: 4fr 2.5fr;
}

.adding-comment {
    display: flex;
    align-items: center;
}