<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Photo App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link rel="stylesheet" href="\static\style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap" rel="stylesheet" />
</head>

<body>
  {% include 'includes/navbar.html' %}

  <div class="app-body">
    <div class="app-body-main">
      <div class="stories-div">
        {% include 'includes/stories.html' %}
      </div>

      {% include 'includes/cards.html' %}
    </div>

  </div>
  <div class="recommendations">
    {% include 'includes/suggestions.html' %}
  </div>
</body>

</html>

<!-- How would you add a feature so users can easily add alt-text to their images?
We can do that by adding a small button on top of the image that enables the user who have editing 
capabilities to add alt-text by just clicking on that button. The button can be placed on the image by 
having a <div> element and use position relative property, add an image with width: 100% so that the image covers the whole container, 
  and add a <button> with position absolute to place it over the image-->